.container {
  padding: 50px;
  display: flex;
}

.imgContainer {
  width: 100px;
  height: 100px;
  position: relative;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
}

.table {
  width: 100%;
  text-align: left;
  border-spacing: 20px;
}

.name {
  font-weight: 500;
  color: #d1411e;
  font-size: 18px;
}

.total {
  font-weight: 500;
  font-size: 18px;
}

.wrapper {
  width: 90%;
  max-height: 300px;
  background-color: #333;
  padding: 30px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.totalTextTitle {
  margin-right: 10px;
}

.totalText {
  margin: 8px 0;
}

.button {
  height: 30px;
  color: orange;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tableTitle {
    display: none;
  }

  .tableItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .imgContainer {
    width: 45vw;
    height: 25vh;

  }

  .name,
  .totalPrice {
    font-size: 28px;
  }

  .extras,
  .price,
  .quantity,
  .total {
    font-size: 22px;
  }

  .quantity::before {
    content: "Quantity: ";
    font-weight: bold;
  }

  .price::before {
    content: "Price: ";
    font-weight: bold;
  }

  .total::before {
    content: "Total: ";
    font-weight: bold;
  }

  .wrapper {
    width: 100%;
  }
}