.container {
  padding: 30px;
  display: flex;
}

.left {
  flex: 2;
}

.imgContainer {
  width: 100px;
  height: 100px;
  position: relative;
}

.table {
  width: 100%;
  border-spacing: 20px;
  text-align: left;
  margin-bottom: 50px;
}

.row:last-child {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.done {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inProgress {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: inProgress 1s ease infinite alternate;
}

@keyframes inProgress {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.undone {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.3;
}

.undone .checkedIcon,
.inProgress .checkedIcon {
  display: none;
}




.right {
  flex: 1;
}


.wrapper {
  width: 90%;
  max-height: 300px;
  background-color: #333;
  padding: 30px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  margin: 20px;
}

.totalTextTitle {
  margin-right: 10px;
}

.totalText {
  margin: 8px 0;
}

.button {
  background-color: white;
  height: 30px;
  color: teal;
  font-weight: bold;
  margin-top: 20px;
  cursor: not-allowed;

}