.container {
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  user-select: none;

}

.img {

  cursor: pointer;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #d1411e;
}

.desc {
  text-align: center;
  color: #777;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 30px;
  }

  .price {
    font-size: 24px;
  }

}